.module {
    max-width: 250px;
    padding: 1rem;
    color: white;
    border-width: 3px;
    border-style: solid;
    border-image:
        linear-gradient(to bottom,
            #2cb67d,
            #7f5af0) 1 100%;
}
/* 
.navstick {
    position: sticky;
    overflow: hidden;
    top: 0;
    z-index: 110;
   
} */

#tsparticles {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
    z-index: 10;
    /* if you use -1 you have to set to `"window"` the interactivity.detectsOn property */
}


.zindex {
    z-index: 1000;
}

.glassbg {
    position: absolute;
    top: 0%;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .7;
    border-radius: 20px;
}