.grad_text {

  font-size: 72px;
  background-image: linear-gradient(to right, #DECBA4, #3E5151);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.small_grad_text {
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}




@tailwind base;
@tailwind components;
@tailwind utilities;