.grad_text {

  background: linear-gradient(90deg, rgba(44,182,125,1) 0%, rgba(127,90,240,1) 100%); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-shadow: 4px 3px 5px linear-gradient(90deg ,rgbaa(44,182,125,1)0% , rgba(127,90,241,1)100%),0.77; */
  /* text-shadow: 4px 3px 5px rgba(44,182,125,0.77);  */
}

.grad_bg{
  background: linear-gradient(90deg, rgba(44,182,125,1) 0%, rgba(127,90,240,1) 100%); 

}
/* timer */

.grad__bg{
  background: rgb(44,182,125);
  background: linear-gradient(77deg, rgba(44,182,125,1) 0%, rgba(22,22,26,1) 50%, rgba(127,90,240,1) 100%);
}

.small_grad_text {
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}




@tailwind base;
@tailwind components;
@tailwind utilities;